@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/SourceSans3-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.ttf");
  font-display: swap;
}

@layer base {
  body {
    @apply bg-primarycolor text-[#374151] dark:bg-primarycolor-dark dark:text-[#d1d5db];
    font-family: "Source Sans 3", sans-serif;
  }
  nav {
    font-family: "Fira Code", monospace;
    font-variant-ligatures: common-ligatures;
    @apply text-black dark:text-white;
  }
  a:hover {
    @apply opacity-50 duration-300;
  }
  h1 {
    @apply !text-xl !font-bold text-[#111827] dark:text-white md:!text-2xl lg:!text-3xl xl:!text-4xl 2xl:!text-5xl;
  }
  h2 {
    @apply !text-lg !font-bold text-[#111827] dark:text-white md:!text-xl lg:!text-2xl xl:!text-3xl 2xl:!text-4xl;
  }
  h3 {
    @apply !text-base !font-bold text-[#111827] dark:text-white md:!text-lg lg:!text-xl xl:!text-2xl 2xl:!text-3xl;
  }
}

@layer components {
  .sectionContainer {
    @apply flex w-full flex-col items-center rounded-lg border-2 border-bordercolor border-opacity-25 bg-secondarycolor p-12 dark:border-bordercolor-dark dark:bg-secondarycolor-dark;
  }
}
