<!-- TODO: --><!-- Seperate section for blogs & projects --><!-- ---
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  let allPosts;
  try {
    allPosts = await Astro.glob("../posts/*.md");
  } catch (err) {
    if (err.title === "Astro.glob() did not match any files.") {
      console.log("less go");
    }
    allPosts = [];
  }

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    // params & props are key words that are used below
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => ({ post }))}
  </ul>
</BaseLayout> -->
