---
import BaseLayout from "../layouts/BaseLayout.astro";
import * as AboutContent from "../content/static/aboutPage.md";
---

<BaseLayout
  title="About"
  description="Overview of my personality and nature in the context of programming"
>
  <main class="sectionContainer">
    <section
      class="!prose !prose-quoteless mx-auto dark:!prose-invert lg:!prose-lg xl:!prose-xl 2xl:!prose-2xl lg:min-w-[750px] xl:min-w-[900px] 2xl:min-w-[1000px]"
    >
      <AboutContent.Content />
    </section>
  </main>
</BaseLayout>
