---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <main>About</main>
  WHat type of person are u <br />
  whats important to u => perfectionist <br />
  life ethos <br />
  inspirations => Musashi, Marcus Auralius<br />
  goals <br />
  as u can tell from the website im a minimilist by heart <br />
  Neovim <br />
</BaseLayout>
