---
import BaseLayout from "../layouts/BaseLayout.astro";
import MarkdownContainer from "../layouts/MarkdownContainer.astro";
import * as AboutContent from "../content/markdown/aboutPage.md";
import SectionComponent from "../components/SectionComponent.astro";
---

<BaseLayout
  title="About"
  description="Overview of my personality and nature in the context of programming"
>
  <main>
    <SectionComponent>
      <MarkdownContainer>
        <AboutContent.Content />
      </MarkdownContainer>
    </SectionComponent>
  </main>
</BaseLayout>
