---
import BaseLayout from "../layouts/BaseLayout.astro";
import * as AboutContent from "../content/aboutPage.md";
---

<BaseLayout title="About">
  <main class="sectionContainer">
    <section
      class="!prose !prose-quoteless mx-auto dark:!prose-invert lg:!prose-lg xl:!prose-xl 2xl:!prose-2xl"
    >
      <AboutContent.Content />
    </section>
  </main>
</BaseLayout>
