---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Skills">
  <main>
    <section
      class="flex w-full flex-col items-center rounded-2xl border-2 border-black border-opacity-25 bg-secondarycolor p-12 dark:bg-secondarycolor-dark"
    >
      <h3>Languages</h3>
      <p>Javascript</p>
      <p>Typescript</p>
      <p>Python</p>
      <p>C++</p>
      <p>Golang</p>
      <p>HTML</p>
      <p>CSS</p>
    </section>
    <section>Techs</section>
  </main>
</BaseLayout>
