---
import BaseLayout from "../layouts/BaseLayout.astro";
import SVGIcon, { Props as IconProps } from "../components/svg/SVGIcon.astro";

const langaugeLinks: {
  label: string;
  icon: IconProps["icon"];
}[] = [
  {
    label: "javascript",
    icon: "javascript",
  },
  {
    label: "typescript",
    icon: "typescript",
  },
  {
    label: "python",
    icon: "python",
  },
  {
    label: "html",
    icon: "html",
  },
  {
    label: "cplusplus",
    icon: "cplusplus",
  },
  {
    label: "golang",
    icon: "golang",
  },
  {
    label: "css",
    icon: "css",
  },
];
---

<BaseLayout title="Skills">
  <main>
    <section class="sectionContainer">
      <h3>Languages</h3>
      <div class="flex gap-12 text-5xl">
        {
          langaugeLinks.map((link) => (
            <a href={`/tags/${link.label}`}>
              <SVGIcon icon={link.icon} />
            </a>
          ))
        }
      </div>
    </section>
    <section>Techs</section>
  </main>
</BaseLayout>
