---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Work">
  <main class="flex flex-col gap-4">
    <h2>Search Engine for tags</h2>
    <section class="flex gap-8">
      <div class="sectionContainer">
        <h2>Projects</h2>
      </div>
      <div class="sectionContainer">
        <h2>Experiance</h2>
      </div>
    </section>
  </main>
</BaseLayout>
