---
import BaseLayout from "../layouts/BaseLayout.astro";
import SVGIcon from "../components/svg/SVGIcon.astro";

// const width = 1275;
// const height = 1650;
---

<BaseLayout
  title="Work"
  description="Details regarding my work experience and resume"
>
  <main class="relative w-full">
    <a
      class="absolute right-8 top-4 text-xs lg:text-base 2xl:text-xl"
      href="/ammarProfile.pdf"
      title="Download Resume"
      download><SVGIcon icon="download" /></a
    >
    <img
      src="/ammarProfile.webp"
      alt="resume"
      class="h-auto max-w-full rounded-lg border-2 border-bordercolor border-opacity-25 dark:border-bordercolor-dark"
    />
  </main>
</BaseLayout>
