<section class="">
  <div
    class="mt-20 flex items-center justify-center border-2 border-black border-opacity-25 bg-secondarycolor p-20 dark:bg-secondarycolor-dark"
  >
    <h2>My CTA</h2>
  </div>
  <div class="flex items-center justify-center p-10">
    2023 All rights reserved
  </div>
</section>
