<section class="">
  <div
    class="mt-20 flex items-center justify-center border-2 border-bordercolor border-opacity-25 bg-secondarycolor p-20 dark:border-bordercolor-dark dark:bg-secondarycolor-dark"
  >
    <h2>Interested in working together?</h2>
  </div>
  <div class="flex items-center justify-center p-10">©2023 Khawaja Ammar</div>
</section>
