---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Blogs">
  <section>
    <div>
      <!-- Search bar for tags -->
      Search bar
    </div>
  </section>
</BaseLayout>
