<div class="markdown-container">
  <slot />
</div>

<style>
  :global(.markdown-container li) {
    @apply ml-[1em] list-disc;
  }
  :global(.markdown-container h1, h2, h3) {
    @apply pb-[0.5em];
  }
  :global(.markdown-container p) {
    @apply pb-[1.25em];
  }
  :global(.markdown-container ul) {
    @apply pb-[1.25em];
  }
</style>
