---
const { className } = Astro.props;
---

<span id="terminal_cursor" class={className}>{"ammar@dev:~$ "}</span>

<style>
  @keyframes cursor {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* #terminal_cursor {
  } */
  #terminal_cursor:after {
    content: "_";
    opacity: 0;
    animation: cursor 1s infinite;
  }
</style>
