---
import SVGIcon, { type Props as IconProps } from "../svg/SVGIcon.astro";
import type { tagData } from "../../types";

export interface Props {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}

const { tag, icon, label } = Astro.props;
---

<!-- <a class="flex flex-col items-center gap-2" href={`/tags/${link}`}> -->
<div class="flex flex-col items-center gap-2">
  <SVGIcon icon={icon} />
  <p class="text-xs text-gray-600 dark:text-gray-100 md:text-sm">
    {label}
  </p>
</div>
<!-- </a> -->
